[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

MemoryCaptures/
AssetImporters/
Assets/AssetStoreTools*
Packages/com.unity.package-manager-ui/
Packages/packages-lock.json

.DS_Store
Thumbs.db

.vscode/
.idea/
*.sln
*.csproj
*.pidb
*.user
*.userprefs
*.booproj
*.svd
*.tmp
*.bak
*.swp
*.orig
*.old
*.apk
*.aab
*.ipa
*.exe
*.app
*.zip
*.xcodeproj
*.xcworkspace
*.xcuserstate

Assets/TextMesh Pro/Examples & Extras/
Assets/TextMesh Pro/Fonts/

Logs/
Recordings/

.idea/
*.sln.iml
.vs/

!Assets/
!ProjectSettings/
!Packages/
